body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.pandemic{
  position: absolute;
  top: 16%;
  left: 10%;
}

.pandemic h1{
  font: italic;
  font-size: 30px;
}

.p1{
  position: absolute;
  top: 35%;
  left: 10%;
}

.p1 h1{
  font: bolder;
  font-size: 19px;
}

.panimg{
  position: absolute;
  top: 32%;
  left: 70%;
}

.panimg img{
  width: 300px;
  height: 200px;
}


.impacts1{
  position: absolute;
  top: 97%;
  left: 10%;
}

.impacts1 h1{
  font: italic;
  font-size: 19px;
}

.impacts{
  position: absolute;
  top: 74%;
  left: 10%;
}

.impacts h1{
  font: italic;
  font-size: 30px;
}

.com{
  position: absolute;
  top: 170%;
  left: 10%;
}

.com h1{
  font: italic;
  font-size: 30px;
}

.com1{
  position: absolute;
  top: 190%;
  left: 10%;
}

.com1 h1{
  font: italic;
  font-size: 19px;
}
